body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    width: 500px;
    margin: auto;
}

.resp {
    padding: 10px;
}

footer {
    padding-top: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(7, 6, 6);
}

a:hover {
    text-decoration: underline;
}