header {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;  /*deixou em caixa alta*/
}

h1 {
    font-family: cursive;
    font-weight: 100;
}

h2 {
    font-size: 16px;
    letter-spacing: 10px; /*espaçamento das letras*/
    text-transform: uppercase; /*deixou em caixa alta*/
}

p {
    font-family: sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}