@charset "UTF-8";

@media screen and (min-width: 768px) { /*ate esse valor vai mostrar o menu hamburguer, desse valor pra cima vai mostrar o menu inteiro */ 
    #burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}